{% extends "base.html" %}

{% load static %}
{%block title%}Login{%endblock%}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'pages_static/style2.css' %}">
<link rel="stylesheet" href="{% static 'pages_static/style1.css' %}">
{% endblock %}

{%block content%}
  <!-- Login Box -->
  <div class="login-container">
    <h2>Login </h2>
    <form action="{% url 'loging' %}" method="post">
      {% csrf_token %}
      
      <!-- User Type Selection -->
      <div class="user-type-container">
        <label class="radio-label">
          <input type="radio" name="user_type" value="student" checked>
          <span class="radio-custom"></span>
          Student
        </label>
        <label class="radio-label">
          <input type="radio" name="user_type" value="staff">
          <span class="radio-custom"></span>
          Staff
        </label>
      </div>
      
      <input type="text" placeholder="Username" name="username" required />
      <input type="password" placeholder="Password" name="password" required />
     
      <button type="submit">Login</button>
    </form>
    <p class="note">Only for students and staff of Christ Church College</p>
  </div>

 
{% endblock %}